.select-rule {
    display: flex;
}
.select-rule .select-rule-des {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.select-rule .select-rule-name {
    width: 160px;
}
.input-info {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.input-info .label {
    width: 80px;
}
.member-label-feature {
    margin: 20px 0;
}
